.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.stats-section {
  margin-right: 50px;
}

@media (max-width: 820px) {
  .stats-section{
    display: none;
  }
  .logo-container{
    display: none;
  }
}