.auth-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 446px;
    height: 40px;
    border: 1px solid #D8DAE5;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px ;
    margin-bottom: 12px;

}

.auth-button img{
    width: 24px;
height: 24px;
}

.auth-button p{
    margin-left: 16px;
    color: #171717;
font-size: 16px;
font-weight: 600;

}

@media (max-width: 820px) {
    .auth-button {
        width: auto;
    }
    
}